/* Стили для каталога товаров */
#filter {
    margin-bottom: 10px;
}

/* Стили для контейнера товаров */
#products {
    display: flex;
    flex-wrap: wrap;
}

/* Стили для результатов поиска */
.product {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 5px #ccc;
    background-color: #f9f9f9;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
}

body {
    background-color: #1e1e1e;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.container:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.05);
}

/* Другие стили */
/* Стиль для заголовка каталога товаров */
h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ff7f0e;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    margin: 10px 0;
    font-size: 20px;
    color: #ddd;
}

.fun-icon {
    font-size: 64px;
    margin-bottom: 20px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fun-text {
    font-size: 28px;
    color: #ff7f0e;
    font-weight: bold;
    margin-bottom: 40px;
}

/* Стиль для текста товаров */
.product h2 {
    font-size: 22px;
    color: #222;
}

/* Стиль для цены товаров */
.product p {
    font-size: 18px;
    color: #777;
}

/* Стиль для изображения товаров */
.product img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Стиль для ссылок и кнопок */
a, button {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ff5e00;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    transition: color 0.3s;
}

a:hover, button:hover {
    background-color: #ff8c42;
    box-shadow: 0 5px 15px rgba(255, 94, 0, 0.3);
    transform: translateY(-3px);
}

/* Стили для поискового поля */
#searchBox {
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid #ff5e00;
    transition: border-color 0.3s ease;
}

#searchBox:focus {
    outline: none;
    border-color: #ff8c42;
}

#searchButton {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ff5e00;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#searchButton:hover {
    background-color: #ff8c42;
    box-shadow: 0 5px 15px rgba(255, 94, 0, 0.3);
    transform: translateY(-3px);
}

label {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    color: #ddd;
    text-align: left;
}

canvas {
    max-width: 800px;
    margin: 20px auto;
    display: block;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

input[type="text"],
input[type="password"],
textarea {
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 15px 30px;
    font-size: 24px;
    background-color: #ff5e00;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ff8c42;
    box-shadow: 0 5px 15px rgba(255, 94, 0, 0.3);
    transform: translateY(-3px);
}

@media (min-width: 768px) {
    .login-container,
    .add-product-container {
        width: 400px;
    }
}

.add-product-container {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

input[type="file"] {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}